In [2]:
import pandas as pd

fake_data = pd.read_csv("/home/rxdhikz/Desktop/SIH/chrds/Fake.csv")
true_data = pd.read_csv("/home/rxdhikz/Desktop/SIH/chrds/True.csv")

In [3]:
fake_data.info()
true_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [5]:
fake_data.head(10)
true_data.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [6]:
true_data['class'] = 1
df = pd.concat([fake_data, true_data], axis=0)

In [7]:
df

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1.0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1.0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1.0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1.0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1.0

In [8]:
df.shape

(44898, 5)

In [9]:
df = df.drop(['title','subject','date'],axis = 1)
df = df.sample(frac=1).reset_index(drop=True)

In [10]:
df
df.isnull().sum()

text         0
class    23481
dtype: int64

In [11]:
import re
def cleaning(text):
    text  = text.lower()
    text = re.sub('[^a-zA-Z]', ' ', text)
    return text
    #start working from this function
    #this should remove unwanted characters, links and other stuffs
    
df['text'] = df['text'].apply(cleaning)

In [12]:
#after this i think applying what we have learnt in nlp till now would be helpful to classify even more
#ill be performing tokenization and remove the stop words

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from string import punctuation

nltk.download('stopwords')
nltk.download('punkt')
def pre_process(text):
    tokens = word_tokenize(text)
    for t in tokens:
        if t not in tokens:
            tokens = t
    return ''.join(text)

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/rxdhikz/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/rxdhikz/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
df['text'] = df['text'].apply(pre_process)

In [14]:
df

                                                    text  class
0      donald trump wished americans a happy new year...    NaN
1      high profile back stars from will smith and ja...    NaN
2      washington  reuters    major medical groups ke...    1.0
3       reuters    a federal judge on friday struck d...    1.0
4      moscow  reuters    the russian embassy to the ...    1.0
...                                                  ...    ...
44893  washington  reuters    the u s  senate passed ...    1.0
44894  washington  reuters    the son of a russian la...    1.0
44895  cnn s anderson cooper has pretty much had it w...    NaN
44896   reuters    the california public employees  r...    1.0
44897  former president barack obama seems to be feel...    NaN

[44898 rows x 2 columns]